<!-- Заменяем содержимое блоков в index.html -->
{% extends "basic_page.html" %}

<!-- Замена содержимого блока body -->
{% block body %}

<h3>Users</h3>

<!-- Список ивентов юзера -->
<!-- 
    - указываем, что делаем GET запрос на /users_list
    - результат будем класть в this, 
    - заменяться будет все содержимое целиком
    - запрос будет стартовать после загрузки данного элемента на старницу
-->
<ul hx-get="/parts/users_list" hx-target="this" hx-swap="innerHTML" hx-trigger="load">
</ul>

{% endblock %}