<!-- Будем заменять контент в файлике index.html -->
{% extends "basic_page.html" %}

<!--------------------------------------------------------------------------------->

<!-- Указываем новое содержимое блока body в index.html -->
{% block body -%}

<!-- Имя юзера в самом верху -->
<h3>{{ user.name }}</h3>

<h5>User events</h5>

<div id="message"></div>

<!-- Список ивентов юзера -->
<ul id="events_list" hx-get="/parts/events_list/{{ user.uuid }}" hx-target="this" hx-swap="innerHTML" hx-trigger="load">
</ul>

<!-- Горизонтальный разделитель -->
<hr>

<h5>Add event</h5>

<!-- Форма со списком событий -->
<form hx-post="/parts/new_event" hx-target="#events_list" hx-swap="innerHTML" hx-trigger="submit">
    <!-- Поле ввода имени -->
    <div>
        <input type="text" id="event_name" name="event_name" placeholder="Event name" required>
    </div>

    <br>

    <!-- Поле ввода даты -->
    <div>
        <input type="datetime-local" id="event_date" name="event_date" placeholder="Event date" required>
    </div>

    <!-- Скрытые поля для сохранения данных в шаблоне и последующей передачи в event -->

    <!-- Идентификатор нового события -->
    <!-- <input type="hidden" name="event_uuid" value=""> -->

    <!-- Идентификатор текущего пользователя для связи -->
    <input type="hidden" name="user_uuid" value="{{ user.uuid }}">

    <br>

    <!-- Кнопка выполнения запроса формы -->
    <button>Add</button>
</form>

{%- endblock %}